@charset "UTF-8";
.center {
	text-align : center;
	margin:0 auto;
	width: 1280px;
	padding: 25px 0px;
}

.pagination {
	
  display: inline-block;
}

li{
	list-style: none;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}