@charset "UTF-8";
        .visual {
            position: relative;
            width: 100%;
            margin: auto;
        }

        .visual button {
            position: absolute;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            width: 71px;
            height: 71px;
            border-radius: 100%;
            background: rgba(0, 0, 0, 0.5);
            border: none;
        }

        .visual button:before {
            font-family: 'xeicon';
            color: #fff;
            font-size: 20px;
        }


        .visual button.slick-prev {
            left: 50px;
            font-size: 0;
            color: transparent;
        }

        .visual button.slick-prev:before {
            content: "\e93b";
            font-family: 'xeicon';
        }

        .visual button.slick-next {
            right: 100px;
            font-size: 0;
            color: transparent;
        }

        .visual button.slick-next:before {
            content: "\e93e";
            font-family: 'xeicon';
        }

         div { 

             width: 100%;
         } 

       .visual div img {
            width: 100%;
            height: 800px;
        }
        .visual .bg1 {background: url(/resources/image/slide_01.jpg) no-repeat center /cover;}

        .visual .bg1 h2 {
            opacity: 0;
        }

        .visual .bg1 .text1 {
            opacity: 0;
        }

        .visual .bg1 .text1 {
            opacity: 0;
        }

        .visual .bg1.slick-active h2 { animation: ani 1 1s .5s both;}

        .visual .bg1.slick-active .text1 {animation: ani 1 1s .7s both;}

        .visual .bg1.slick-active .text2 {animation: ani 1 1s .9s both;}

        @keyframes ani {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
        h2{
            font-size: 100px;
            color: white;
        }
        p{
            color:white;
        }